[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pydantic = "*"
sqlalchemy = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
chromedriver-autoinstaller = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
bandit = "*"
isort = "*"
mypy = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}

[requires]
python_version = "3.9"
