[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
chromedriver-autoinstaller = "*"
psycopg2-binary = "*"
pydantic = "*"
requests = "*"
selenium = "*"
sqlalchemy = "*"

[dev-packages]
bandit = "*"
black = "*"
isort = "*"
mkdocs-material = "*"
mypy = "*"
pre-commit = "*"
ruff = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}

[requires]
python_version = "3.11"
