[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
sqlalchemy = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
chromedriver-autoinstaller = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
bandit = "*"
isort = "*"
mypy = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}
mkdocs-material = "*"

[requires]
python_version = "3.9"
