{% extends "base.html" %}
{% block tabs %}
{{ super() }}
<style>
.mdx-hero {
  position: relative;
}
.bottom-left {
  position: absolute;
  bottom: 100px;
  left: 25px;
}
</style>
<section class="mdx-container">
    <div class="md-grid md-typeset">
        <div class="mdx-hero">
            <div class="mdx-hero__image">
                <img src="overrides/background.png" alt="" width="100%" height="1000" draggable="false">
            </div>
            <div class="bottom-left">
                <h1>Get notified of new releases and restocks</h1>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
                   class="md-button md-button--primary">
                    Getting started
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}{% endblock %}
